VVELCOM_BOT_TOKEN=vv_ваш_токен
YANDEX_CLOUD_API_KEY=ваш_api_ключ
YANDEX_CLOUD_FOLDER_ID=идентификатор_каталога
YANDEX_MODEL_URI=gpt://идентификатор_каталога/yandexgpt/latest
SYSTEM_PROMPT=Ты полезный русскоязычный помощник. Отвечай понятно и кратко.

